@model IEnumerable<TARS.Models.TimesheetRow>


<table class="timesheet">
    <tr>
        <th>
            WorkEffort
        </th>
        <th>
            WorkType            
        </th>
        <th>
            SUN
        </th>
        <th>
            MON
        </th>
        <th>
            TUE
        </th>
        <th>
            WED
        </th>
        <th>
            THU
        </th>
        <th>
            FRI
        </th>
        <th>
            SAT
        </th>
        <th>
            TOTALS
        </th>
    </tr>

    @{double combinedTotal = 0;}  <!-- for displaying the total hours for the week -->
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            double total = 0;    <!-- for displaying hours on a workEffort/workType for the week -->  
           
            <tr class="timesheetRow">
                <td class="effortDescription" title="PCA code(s): @Html.Action("getWePcaCodesString", "User", new {weDesc = item.workeffort})">
                    @Html.HiddenFor(modelItem => item.workeffort)
                    @Html.DisplayFor(modelItem => item.workeffort)
                </td>
                <td class="description">
                    @Html.HiddenFor(modelItem => item.worktype)
                    @Html.DisplayFor(modelItem => item.worktype)
                </td>
                <td class="days" title="@Html.Action("getTimesheetDayCellTitle", "User", new {ts = ViewBag.timesheet})">
                    @if (item.sunHours != null)
                    {
                        total += item.sunHours.hours;
                        @Html.Hidden("hoursID", item.sunHours.ID)
                        @item.sunHours.hours
                    }
                    else
                    {
                        @Html.Hidden("wEffort", item.workeffort)
                        @Html.Hidden("wType", item.worktype)
                        @Html.Hidden("hrsDate", (DateTime)ViewBag.timesheet.periodStart)
                        <html> 0 </html>
                    }
                </td>
                <td class="days" title="@Html.Action("getTimesheetDayCellTitle", "User", new {ts = ViewBag.timesheet})">
                    @if (item.monHours != null){
                        total += item.monHours.hours;
                        @Html.Hidden("hoursID", item.monHours.ID)
                        @item.monHours.hours
                    }
                    else{
                        @Html.Hidden("wEffort", item.workeffort)
                        @Html.Hidden("wType", item.worktype)
                        @Html.Hidden("hrsDate", (DateTime)ViewBag.timesheet.periodStart.AddDays(1))                            
                        <html> 0 </html>
                    }
                </td>
                <td class="days" title="@Html.Action("getTimesheetDayCellTitle", "User", new {ts = ViewBag.timesheet})">
                    @if (item.tueHours != null){
                        total += item.tueHours.hours;
                        @Html.Hidden("hoursID", item.tueHours.ID)
                        @item.tueHours.hours
                    }
                    else{
                        @Html.Hidden("wEffort", item.workeffort)
                        @Html.Hidden("wType", item.worktype)
                        @Html.Hidden("hrsDate", (DateTime)ViewBag.timesheet.periodStart.AddDays(2))                             
                        <html> 0 </html>
                    }
                </td>
                <td class="days" title="@Html.Action("getTimesheetDayCellTitle", "User", new {ts = ViewBag.timesheet})">
                    @if (item.wedHours != null){
                        total += item.wedHours.hours;
                        @Html.Hidden("hoursID", item.wedHours.ID)
                        @item.wedHours.hours
                    }
                    else{
                        @Html.Hidden("wEffort", item.workeffort)
                        @Html.Hidden("wType", item.worktype)
                        @Html.Hidden("hrsDate", (DateTime)ViewBag.timesheet.periodStart.AddDays(3))                             
                        <html> 0 </html>
                    }
                </td>
                <td class="days" title="@Html.Action("getTimesheetDayCellTitle", "User", new {ts = ViewBag.timesheet})">
                    @if (item.thuHours != null){
                        total += item.thuHours.hours;
                        @Html.Hidden("hoursID", item.thuHours.ID)
                        @item.thuHours.hours
                    }
                    else{
                        @Html.Hidden("wEffort", item.workeffort)
                        @Html.Hidden("wType", item.worktype)
                        @Html.Hidden("hrsDate", (DateTime)ViewBag.timesheet.periodStart.AddDays(4))                             
                        <html> 0 </html>
                    }
                </td>
                <td class="days" title="@Html.Action("getTimesheetDayCellTitle", "User", new {ts = ViewBag.timesheet})">
                    @if (item.friHours != null){
                        total += item.friHours.hours;
                        @Html.Hidden("hoursID", item.friHours.ID)
                        @item.friHours.hours
                    }
                    else{
                        @Html.Hidden("wEffort", item.workeffort)
                        @Html.Hidden("wType", item.worktype)
                        @Html.Hidden("hrsDate", (DateTime)ViewBag.timesheet.periodStart.AddDays(5))                             
                        <html> 0 </html>
                    }
                </td>
                <td class="days" title="@Html.Action("getTimesheetDayCellTitle", "User", new {ts = ViewBag.timesheet})">
                    @if (item.satHours != null){
                        total += item.satHours.hours;
                        @Html.Hidden("hoursID", item.satHours.ID)
                        @item.satHours.hours
                    }
                    else{
                        @Html.Hidden("wEffort", item.workeffort)
                        @Html.Hidden("wType", item.worktype)
                        @Html.Hidden("hrsDate", (DateTime)ViewBag.timesheet.periodStart.AddDays(6))                             
                        <html> 0 </html>
                    }
                </td>
                <td>
                    @{combinedTotal += total;}
                    @total
                </td>
                <td class="empty">
                    @if (total == 0)
                    {
                        //in a row with all zeros, sunday is the only guaranteed non-null hours object
                        using( Html.BeginForm("timesheetRemoveWorkEffort", "User", new {sundayID = item.sunHours.ID}))
                        {
                            <input type="submit" value="Remove Row" style="font-size: 10px"/>
                        }
                    }
                </td>
            </tr>
        }
    }   
    @if ((ViewBag.timesheet.approved != true) && (ViewBag.timesheet.locked != true))
    {    
        <tr>
            <!-- Display a dropdown list for adding a work effort -->
            <td>
                @Html.DropDownList("workEffortID", (List<SelectListItem>)ViewBag.workEffortList, "--- Add a Work Effort ---")
            </td>
            <!-- Display a dropdown list to add a work type -->
            <td>
                @Html.DropDownList("workType", Enumerable.Empty<SelectListItem>(), "--- Work Type ---")
            </td>
            <td class="empty"></td><td class="empty"></td><td class="empty"></td>
            <td class="empty"></td><td class="empty"></td><td class="empty"></td>
            <td class="empty"></td><td class="weekTotal">@combinedTotal</td>
        </tr>
    }
    else
    {
        <tr>
            <td class="empty"></td><td class="empty"></td><td class="empty"></td><td class="empty"></td>
            <td class="empty"></td><td class="empty"></td><td class="empty"></td><td class="empty"></td>
            <td class="empty"></td>
            <td class="weekTotal">@combinedTotal</td>
        </tr>            
    }
</table>
<br />
<br />
<br />
View my work on @Html.DropDownList("viewEffort", (List<SelectListItem>)ViewBag.workEffortList, "--- Work Effort ---", null) from @Html.TextBox("start") to @Html.TextBox("end")
<button id="viewWorkButton">View</button>




<!-- pop-up calendars -->
<script type="text/javascript">
    $('#start').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: 'c-10:c+20'
    });

    $('#end').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: 'c-10:c+20'
    });
</script>


<!-- Populates Work Type dropdown according to Work Effort that was selected -->
<script type="text/javascript">
    $(document).ready(function () {
        $('#workEffortID').change(function () {
            var selectedWorkEffort = $(this).val();
            $.getJSON('@Url.Action("jsonWorkTypeSelectList")', { weID: selectedWorkEffort }, function (worktypes) {
                var workTypeSelect = $('#workType');
                workTypeSelect.empty();
                $.each(worktypes, function (index, wType) {
                    workTypeSelect.append($('<option/>', {
                        value: wType.value,
                        text: wType.text
                    }));
                });
            });
        });
    });
</script>


<!-- Adds the specified Work Effort and Work Type to the user's timesheet when they click on a Work Type -->
<script type="text/javascript">
    $('#workType').change(function () {
        var selectedWorkType = $(this).val();
        $.ajax({
            url: '@Url.Action("addHours")',
            type: "POST",
            data:
			{
			    workEffortID: $('#workEffortID').val(),
			    hours: 0,
			    timestamp: '@ViewBag.timesheet.periodStart',
			    description: selectedWorkType,
			    creator: '@ViewBag.timesheet.worker'
			},
            success: function () {
                location.reload();
            }
        });
    });
</script>


<!-- Modal popup for adding/editing hours for day cell that is clicked on -->
<script type="text/javascript">
    $(document).ready(function () {
        $("td.days").each(function () {
            $(this).mouseover(function () {
                $(this).css("background-color", "#D3D3D3");
            });
            $(this).mouseout(function () {
                $(this).css("background-color", "white");
            });

            //display the dialog box if a day cell is clicked
            $(this).click(function () {
                var hoursID = $(this).find('#hoursID').val();
                var userKeyID = '@ViewBag.userKeyID';
                var link = "";

                if (hoursID > 0) {
                    link = '@Url.Action("editHours", "User")';
                    //get the html from _editHoursPartial and use it in the popup
                    $.get(link, {hoursID: hoursID, userKeyID: userKeyID}, function (result) {
                        modal.open({ content: result });
                    });
                }
                else {
                    link = '@Url.Action("addHours", "User")';
                    var hrsDate = $(this).find('#hrsDate').val();
                    var wEffort = $(this).find('#wEffort').val();
                    var wType = $(this).find('#wType').val();
                    //get the html from _addHoursPartial and use it in the popup
                    $.get(link, { we: wEffort, wt: wType, hrsDate: hrsDate, userKeyID: userKeyID}, function (result) {
                        modal.open({ content: result });
                    });
                }
                e.preventDefault();
            });

            //Show work on work effort over specified date range using a modal popup
            $("#viewWorkButton").click(function () {
                var link = '@Url.Action("showWorkOnWorkEffort", "User")';
                var wEffort = $('#viewEffort').val();
                var startDate = $('#start').val();
                var endDate = $('#end').val();
                var uName = '@ViewBag.timesheet.worker';
                $.get(link, { we: wEffort, start: startDate, end: endDate, userName: uName }, function (result) {
                    modal.open({ content: result });
                });
                e.preventDefault();
            });

            /*******************************************************************
            **       The rest of this script is for the Modal Popup           **
            *******************************************************************/
            var modal = (function () {
                var method = {}, $overlay, $modal, $modalContent, $modalClose;

                // Center the modal in the viewport
                method.center = function () {
                    var top, left;
                    top = Math.max($(window).height() - $modal.outerHeight(), 0) / 2;
                    left = Math.max($(window).width() - $modal.outerWidth(), 0) / 2;
                    $modal.css({
                        top: top + $(window).scrollTop(),
                        left: left + $(window).scrollLeft()
                    });
                };

                // Open the modal
                method.open = function (settings) {
                    $modalContent.append(settings.content);
                    $modal.css({
                        width: settings.width || 'auto',
                        height: settings.height || 'auto'
                    })
                    method.center();
                    $(window).bind('resize.modal', method.center);
                    $modal.show();
                    $overlay.show();
                };

                // Close the modal
                method.close = function () {
                    $modal.hide();
                    $overlay.hide();
                    $modalContent.empty();
                    $(window).unbind('resize.modal');
                };

                $overlay = $('<div id="overlay"></div>');
                $modal = $('<div id="modal"></div>');
                $modalContent = $('<div id="modalContent"></div>');
                $modalClose = $('<a id="modalClose" href="#">modalClose</a>');
                $modal.hide();
                $overlay.hide();
                $modal.append($modalContent, $modalClose);

                $(document).ready(function () {
                    $('body').append($overlay, $modal);
                });

                $modalClose.click(function (e) {
                    e.preventDefault();
                    method.close();
                });

                return method;
            } ());

            // Wait until the DOM has loaded before querying the document
            $(document).ready(function () {
                $.get('ajax.html', function (data) {
                    modal.open({ modalContent: data });
                });
            });
        });
    });
</script>