@model IEnumerable<TARS.Models.WorkEffort>

@{
    ViewBag.Title = "searchWorkEffort";
}

<h2>searchWorkEffort</h2>

<p>
    @Html.ActionLink("Create New", "addWorkEffort")
</p>
<table>
    <tr>
        <th>
            code
        </th>
        <th>
            startDate
        </th>
        <th>
            endDate
        </th>
        <th>
            description
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>

        <td>
            @Html.ActionLink("Edit", "editWorkEffort", new { id=item.ID }) |
            @Html.ActionLink("Details", "viewWorkEffort", new { id=item.ID }) |
            @Html.ActionLink("Delete", "deleteWorkEffort", new { id=item.ID })
        </td>
    </tr>
}

</table>
