@model IEnumerable<TARS.Models.PcaCode>

@{
    ViewBag.Title = "searchPCA";
}

<h2>searchPCA</h2>

<p>
    @Html.ActionLink("Create New", "addPCA")
</p>
<table>
    <tr>
        <th>
            code
        </th>
        <th>
            startDate
        </th>
        <th>
            endDate
        </th>
        <th>
            creator
        </th>
        <th>
            description
        </th>
        <th>
            files
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.files)
        </td>
        <td>
            @Html.ActionLink("Edit", "editPCA", new { id=item.ID }) |
            @Html.ActionLink("Details", "viewPCA", new { id=item.ID }) |
            @Html.ActionLink("Delete", "deletePCA", new { id=item.ID })
        </td>
    </tr>
}

</table>
