@model IEnumerable<TARS.Models.Hours>

@{
    ViewBag.Title = "viewTimesheet";
}

<h2>viewTimesheet
@if (ViewBag.submitted)
{
    if (ViewBag.approved)
    {
        <small><i>(approved)</i></small> 
    }
    else
    {
        <small><i>(submitted)</i></small> 
    }
}
</h2>

<p>This is in Views/Shared/viewTimesheet.cshtml</p>

<div id="menu" style="float:right;">
<h4>Actions</h4>
<p>@Html.ActionLink("New Timesheet", "copyTimesheet")</p>
<p>@Html.ActionLink("Add Hours", "addHours", new { id = 1 })</p>
<p>@Html.ActionLink("Submit Timesheet", "submitTimesheet")</p>
<p>@Html.ActionLink("Lookup PCA", "searchPCA")</p>
<p>@Html.ActionLink("Lookup Work Effort", "searchWorkeffort")</p>
</div>

<div id="content" style="float:left;">
<h3>Hours list</h3>
<table class="timesheet">
    <tr>
        <th>
            we
        </th>
        <th>
            task
        </th>
        <th>
            hours
        </th>
        <th>
            hoursType
        </th>
        <th>
            approved
        </th>
        <th>
            timestamp
        </th>
        <th>
            description
        </th>
        <th></th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.we)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.task)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoursType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
    </tr>
    }
}
</table>

<h3>Task list</h3>
<table class="timesheet">
    <tr>
        <th>
            ID
        </th>
        <th>
            WE
        </th>
        <th>
            title
        </th>
    </tr>

@if (ViewBag.taskList != null)
{
    foreach (var item in ViewBag.taskList)
    {
        <tr>
            <td>
                @item.ID
            </td>
            <td>
                @item.WE
            </td>
            <td>
                @item.title
            </td>
        </tr>
    }
}
</table>
</div>