@model TARS.Models.WorkEffort

@{
    ViewBag.Title = "viewWorkEffort";
}

<h2>Details</h2>

<fieldset>
    <legend>PcaCode</legend>

    <div class="display-label">code</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.code)
    </div>

    <div class="display-label">startDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">endDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <div class="display-label">creator</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creator)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">files</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.files)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Add Hours", "addHours", new { id=Model.ID })  
    @Html.ActionLink("Edit", "editWorkEffort/", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "searchWorkEffort/")
</p>
