@model TARS.Models.WorkEffort

@{
    ViewBag.Title = "Create";
}

<h2>Add Work Effort</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) 
{
    @Html.ValidationSummary(true)
    <fieldset>

        <div class="editor-label"><b>Division</b></div>
        <div class="editor-field">
            @Html.DropDownList("division", (List<SelectListItem>)ViewBag.divisionList, "--Select Division--")
        </div>

        <p>
        <div class="editor-label"><b>PCA Code</b></div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.pcaCode, Enumerable.Empty<SelectListItem>(), "--Select PCA code--", null)
        </div>
        </p>

        <p>
        <div class="editor-label"><b>Work Effort Description </b>(100 characters max)</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>
        </p>

        <p>
        <div class="editor-label"><b>Earnings Code</b></div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.earningsCode, (List<SelectListItem>)ViewBag.earnCodeSelectList, "--Select Earnings Code--", null)
        </div>
        </p>

        <p>
        <div class="editor-label"><b>Start Date</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.startDate)
            @Html.ValidationMessageFor(model => model.startDate)
        </div>
        </p>

        <p>
        <div class="editor-label"><b>End Date</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.endDate)
            @Html.ValidationMessageFor(model => model.endDate)
            @if (ViewBag.notWithinTimeBounds == true)
            {
                <html>Not within the PCA code's time bounds: <b>@Html.Action("getPcaTimeBoundsString", Model.pcaCode) </b></html>
            } 
        </div>
        </p>

        <p>
        <div class="editor-label"><b>Comments </b>(250 characters max)</div>
        <div class="editor-field">
            @Html.EditorFor(model => model.comments)
            @Html.ValidationMessageFor(model => model.comments)
        </div>
        </p>
    
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "weManagement/")
</div>



<!-- Populate PCA dropdown according to division that was selected -->
<script type="text/javascript">
    $('#division').change(function () {
        var selectedDivision = $(this).val();
        $.getJSON('@Url.Action("jsonPcaSelectList")', { division: selectedDivision }, function (pcas) {
            var pcaSelect = $('#pcaCode');
            pcaSelect.empty();
            $.each(pcas, function (index, pca) {
                pcaSelect.append($('<option/>', {
                    value: pca.value,
                    text: pca.text
                }));
            });
        });
    });
</script>