@model TARS.Models.WorkEffort

@{
    ViewBag.Title = "addWE_WeType";
}

<h2>Add Work Type(s) to Work Effort</h2>

@using (Html.BeginForm())
{    
    @Html.ValidationSummary(true)
    <fieldset>
        
        <b>Work Effort: </b>@Model.description
        @Html.HiddenFor(model => model.ID)

        <p>
        <b>Earnings Code: </b>@Model.earningsCode
        </p>

        <p>
        <div class="editor-label"><b>Choose Work Type(s) to Add</b></div>
        <div class="editor-field">
            @Html.ListBoxFor(model => model.workTypes, new SelectList((List<string>)ViewBag.workTypeAddList, Model))
        </div>
        </p>

        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>   
}

<p>
@Html.ActionLink("Back to Edit", "editWorkEffort", "Manager", new {id = (int)Model.ID}, null)  |
@Html.ActionLink("Back to Work Efforts", "weManagement") 
</p>
