@model IEnumerable<TARS.Models.Hours>

@{
    ViewBag.Title = "Approve Hours";
}

<h2>approveHours</h2>

<h3>Hours list</h3>
<table class="timesheet">
    <tr>
        <th>
            we
        </th>
        <th>
            task
        </th>
        <th>
            hours
        </th>
        <th>
            hoursType
        </th>
        <th>
            approved
        </th>
        <th>
            timestamp
        </th>
        <th>
            description
        </th>
        <th>
            creator
        </th>
        <th></th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.we)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.task)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoursType)
        </td>
        <td>
        <div class="editor-field">
            @Html.EditorFor(modelItem => item.approved)
            @Html.ValidationMessageFor(modelItem => item.approved)
        </div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creator)
        </td>
    </tr>
    }
}
</table>
<input type="submit" value="Submit" />