@model IEnumerable<TARS.Models.Hours>

@{
    ViewBag.Title = "approveTimesheet";
}

<h2>Approve Timesheet
@if (ViewBag.timesheet.submitted)
{
    if (ViewBag.timesheet.approved)
    {
        <small><i>(approved)</i></small> 
    }
}
else
{
    <small><i>(not approved)</i></small>
}
</h2>


<div id="menu" style="float:right;">
<h4><b></b>Actions</b></h4>    
    @if (ViewBag.timesheet.locked == false)
    {
        if (ViewBag.timesheet.approved == true)
        {
            <p>@Html.ActionLink("Undo Approved Status", "submitRejectTimesheet/", new { id = (int)ViewBag.timesheet.ID })</p>
        }
        else
        {
            <p>@Html.ActionLink("Approve", "submitApproveTimesheet/", new { id = (int)ViewBag.timesheet.ID })</p>
            <p>@Html.ActionLink("Reject", "submitRejectTimesheet/", new { id = (int)ViewBag.timesheet.ID })</p>
        }
    }
    
    <p>@Html.ActionLink("Back to Employee List", "userManagement/")</p>
</div>


<h3>Hours list for @ViewBag.timesheet.worker</h3>
<table class="timesheet">
    <tr>
        <th>
            WorkEffort
        </th>
        <th>
            WorkType
        </th>
        <th>
            Hours
        </th>
        <th>
            Timestamp
        </th>
        <th>
            Creator
        </th>
        <th></th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.Action("getWeDescription", "User", new{ id = item.workEffortID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creator)
        </td>
        <td>
            @Html.ActionLink("Edit", "managerEditHours", new { hrsID = item.ID, tsID = (int)ViewBag.timesheet.ID }) |
            @Html.ActionLink("Delete", "managerDeleteHours", new { hrsID = item.ID, tsID = (int)ViewBag.timesheet.ID })
        </td>
    </tr>
    }
}
</table>


