@model IEnumerable<TARS.Models.TimesheetRow>

@{
    ViewBag.Title = "approveTimesheet";
}

<h2>Approve Timesheet
@if (ViewBag.timesheet.submitted)
{
    if (ViewBag.timesheet.approved)
    {
        <small><i>(approved)</i></small> 
    }
}
else
{
    <small><i>(not approved)</i></small>
}
</h2>

<h3>Employee: @ViewBag.timesheet.worker</h3>


<div id="menu" style="float:right;">    
    @if (ViewBag.timesheet.locked == false)
    {
        if (ViewBag.timesheet.approved == true)
        {
            @Html.ActionLink("Undo Approved Status", "submitRejectTimesheet", new { id = (int)ViewBag.timesheet.ID })
            <html> | </html>
        }
        else
        {
            @Html.ActionLink("Approve", "submitApproveTimesheet", new { id = (int)ViewBag.timesheet.ID })
            <html> | </html>
            @Html.ActionLink("Reject", "submitRejectTimesheet", new { id = (int)ViewBag.timesheet.ID })
            <html> | </html>
        }
    }
    @Html.ActionLink("Back to Employee List", "userManagement") 
</div>
<br /><br /><br />

<table class="timesheet">
    <tr>
        <th>
            WorkEffort
        </th>
        <th>
            WorkType            
        </th>
        <th>
            SUN
        </th>
        <th>
            MON
        </th>
        <th>
            TUE
        </th>
        <th>
            WED
        </th>
        <th>
            THU
        </th>
        <th>
            FRI
        </th>
        <th>
            SAT
        </th>
        <th>
            TOTALS
        </th>
    </tr>

    @{double combinedTotal = 0;}  <!-- this is for displaying the total hours for the week -->
    @if (Model != null)
    {
        foreach (var item in Model)
        {
        <tr>
            <td class="description">
                @Html.HiddenFor(modelItem => item.workeffort)
                @Html.DisplayFor(modelItem => item.workeffort)
            </td>
            <td class="description">
                @Html.HiddenFor(modelItem => item.worktype)
                @Html.DisplayFor(modelItem => item.worktype)
            </td>
            <td class="days">
                @Html.TextBoxFor(modelItem => item.sunHours, new { @class = "hoursEditor" })
            </td>
            <td class="days">
                @Html.TextBoxFor(modelItem => item.monHours, new { @class = "hoursEditor" })
            </td>
            <td class="days">
                @Html.TextBoxFor(modelItem => item.tueHours, new { @class = "hoursEditor" })
            </td>
            <td class="days">
                @Html.TextBoxFor(modelItem => item.wedHours, new { @class = "hoursEditor" })
            </td>
            <td class="days">
                @Html.TextBoxFor(modelItem => item.thuHours, new { @class = "hoursEditor" })
            </td>
            <td class="days">
                @Html.TextBoxFor(modelItem => item.friHours, new { @class = "hoursEditor" })
            </td>
            <td class="days">
                @Html.TextBoxFor(modelItem => item.satHours, new { @class = "hoursEditor" })
            </td>
            <td class="days">
                <!-- Add up total hours. It's only for display purposes here -->
                @{double total = item.sunHours + item.monHours + item.tueHours + item.wedHours +
                                item.thuHours + item.friHours + item.satHours;
                    combinedTotal += total;
                }
                @total
            </td>
        </tr>
        }
    }  
</table>


