@model IEnumerable<TARS.Models.TARSUser>

@{
    ViewBag.Title = "User Maintanence";
}

<h2>Active Users</h2>

@if (ViewBag.emailSentFlag == true)
{
    <h3>
    @if (ViewBag.emailError != null)
    {
        <html>Timesheet Rejected, but there was an error sending notification email to @ViewBag.messageRecipient</html>
    }
    else
    {
        <html>Timesheet Rejected:  Notification email was sent to @ViewBag.messageRecipient</html>
    }
    </h3>
}

<table class="timesheet">
    <tr>
        <th>
            UserName
        </th>
        <th>
            Permission
        </th>
        <th>
            Company
        </th>
        <th>
            Department
        </th>
        <th>
            TimesheetStatus
        </th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.permission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department)
        </td>
        <td>
            @Html.Action("getTimesheetStatus", "User", new { userName = item.userName, refDate = DateTime.Now })
        </td>
        <td>
            @Html.ActionLink("Approve/Reject Timesheet", "approveTimesheet", new { userKeyID = item.ID, tsDate = DateTime.Now})
        </td>
    </tr>
    }
}
</table>

