@model IEnumerable<TARS.Models.TARSUser>

@{
    ViewBag.Title = "User Maintanence";
}

<h2>@ViewBag.division Employees</h2>

<!-- Allow Manager/Approver to select a different division -->
@using (Html.BeginForm())
{
    <div class="editor-label"><b>Select Different Division</b></div>
    <div class="editor-field"> 
        @Html.DropDownList("division", (List<SelectListItem>)ViewBag.divisionList, new { @onchange = "this.form.submit();"})     
    </div>
    <br />
}

<b>Pay Period: [@ViewBag.refPayPeriod] </b>
@Html.ActionLink(" Previous ", "userManagement", new {refDate=ViewBag.refDate.AddDays(-7), division = ViewBag.division})
@if (ViewBag.refDate.ToShortDateString() != DateTime.Now.ToShortDateString())
{
    <html> | </html>
    @Html.ActionLink(" Next ", "userManagement", new { refDate = ViewBag.refDate.AddDays(7), division = ViewBag.division })
    <html> | </html>
    @Html.ActionLink(" Current ", "userManagement", new { refDate = DateTime.Now, division = ViewBag.division })
}
<br /><br />


@if (ViewBag.emailSentFlag == true)
{
    <h4>
    @if (ViewBag.emailError != null)
    {
        <html>Timesheet Rejected, but there was an error sending notification email to @ViewBag.messageRecipient</html>
    }
    else
    {
        <html>Timesheet Rejected:  Notification email was sent to @ViewBag.messageRecipient</html>
    }
    </h4>
}

<table class="timesheet">
    <tr>
        <th>
            UserName
        </th>
        <th>
            Permission
        </th>
        <th>
            Company
        </th>
        <th>
            Department
        </th>
        <th>
            TimesheetStatus
        </th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
        string tsStatus = Html.Action("getTimesheetStatus", "User", new { userName = item.userName, refDate = ViewBag.refdate }).ToString();
        <tr>
            <td class="name">
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.permission)
            </td>
            <td class="description">
                @Html.DisplayFor(modelItem => item.company)
            </td>
            <td class="description">
                @Html.DisplayFor(modelItem => item.department)
            </td>
            <td>
                @if (tsStatus.ToString().Length == 0)
                {
                    <html> none </html>
                }
                else
                {
                    @tsStatus
                }
            </td>
            <td class="options">
                @if (tsStatus.ToString().Length != 0)
                {
                    if (tsStatus.CompareTo("locked") == 0)
                    {
                        @Html.ActionLink("View", "approveTimesheet", new { userKeyID = item.ID, tsDate = ViewBag.refDate })
                    }
                    else
                    {
                        @Html.ActionLink("View/Approve/Reject", "approveTimesheet", new { userKeyID = item.ID, tsDate = ViewBag.refDate })
                    }
                }
            </td>
        </tr>
    }
}
</table>
