@model IEnumerable<TARS.Models.TARSUser>

@{
    ViewBag.Title = "User Maintanence";
}

<h2>@ViewBag.division Employees</h2>

<!-- Allow Manager/Approver to select a different division -->
@using (Html.BeginForm())
{
    <b>Department: </b>
    @Html.DropDownList("department", (List<SelectListItem>)ViewBag.departmentList, new { @onchange = "this.form.submit();"})     
    <br /><br />
}

<!-- Show the pay period and navigation options to view previous/next/current -->
<b>Pay Period: @ViewBag.refPayPeriod </b>
<br />
<b>View different pay period: </b> 
@Html.TextBox("differentPayPeriod", null, new { @style = "width:70px;" })
@if ((DateTime.Now < ViewBag.refSunday) || (DateTime.Now > ViewBag.refSunday.AddDays(7)))
{
    <html> | </html>
    @Html.ActionLink(" Go To Current ", "userManagement", new { refDate = DateTime.Now, division = ViewBag.division })
}
<br /><br />


@if (ViewBag.emailSentFlag == true)
{
    <h4>
    @if (ViewBag.emailError != null)
    {
        <html>Timesheet Rejected, but there was an error sending notification email to @ViewBag.messageRecipient</html>
    }
    else
    {
        <html>Timesheet Rejected:  Notification email was sent to @ViewBag.messageRecipient</html>
    }
    </h4>
}

<table class="timesheet">
    <tr>
        <th>
            UserName
        </th>
        <th>
            Permission
        </th>
        <th>
            Company
        </th>
        <th>
            Department
        </th>
        <th>
            TimesheetStatus
        </th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
        string tsStatus = Html.Action("getTimesheetStatus", "User", new { userName = item.userName, refDate = ViewBag.refdate }).ToString();
        <tr>
            <td class="name">
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.permission)
            </td>
            <td class="description">
                @Html.DisplayFor(modelItem => item.company)
            </td>
            <td class="description">
                @Html.DisplayFor(modelItem => item.department)
            </td>
            <td>
                @if (tsStatus.ToString().Length == 0)
                {
                    <html> none </html>
                }
                else
                {
                    @tsStatus
                }
            </td>
            <td class="options">
                @if (tsStatus.ToString().Length != 0)
                {
                    if (tsStatus.CompareTo("locked") == 0)
                    {
                        @Html.ActionLink("View", "approveTimesheet", new { userKeyID = item.ID, tsDate = ViewBag.refDate })
                    }
                    else
                    {
                        @Html.ActionLink("View/Approve/Reject", "approveTimesheet", new { userKeyID = item.ID, tsDate = ViewBag.refDate })
                    }
                }
            </td>
        </tr>
    }
}
</table>



<!-- pop-up calendars -->
<script type="text/javascript">
    $('#differentPayPeriod').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: 'c-10:c+20'
    });
</script>


<!-- Displays the employee list covering the selected date -->
<script type="text/javascript">
    $('#differentPayPeriod').change(function () {
        var selectedDate = $(this).val();
        var currentDivision = "@ViewBag.division";
        $.ajax({
            url: '@Url.Action("userManagement")',
            type: "POST",
            data: {
                refDate: selectedDate,
                division: currentDivision
            },
            success: function () {
                window.location.href = '@Url.Action("userManagement", "Manager")' +
                "?refDate=" + selectedDate + "&division=" + currentDivision;
            }
        });
    });
</script>