@model IEnumerable<TARS.Models.TARSUser>

@{
    ViewBag.Title = "User Maintanence";
}

<h2>@ViewBag.division Employees</h2>
@if (ViewBag.department != null)
{
    <h3><i>Department: @ViewBag.department</i></h3>
}
else
{
    <h3><i>Department: All</i></h3>
}

@if (ViewBag.emailSentFlag == true)
{
    <h4>
    @if (ViewBag.emailError != null)
    {
        <html><center>Timesheet Rejected, but there was an error sending notification email to @ViewBag.messageRecipient</center></html>
    }
    else
    {
        <html><center>Timesheet Rejected:  Notification email was sent to @ViewBag.messageRecipient</center></html>
    }
    </h4>
}


<!-- Allow Manager/Approver to select a division (uses a script to submit form) -->
<div id="menu" style="float:right;">
    @using (Html.BeginForm())
    {
        <div class="editor-label"><b>Select Different Division</b></div>
        <div class="editor-field">
            @Html.DropDownList("division", (List<SelectListItem>)ViewBag.divisionList)
        </div>     
    }
</div>


<table class="timesheet">
    <tr>
        <th>
            UserName
        </th>
        <th>
            Permission
        </th>
        <th>
            Company
        </th>
        <th>
            Department
        </th>
        <th>
            TimesheetStatus
        </th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.permission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department)
        </td>
        <td>
            @Html.Action("getTimesheetStatus", "User", new { userName = item.userName, refDate = DateTime.Now })
        </td>
        <td>
            @Html.ActionLink("Approve/Reject Timesheet", "approveTimesheet", new { userKeyID = item.ID, tsDate = DateTime.Now })
        </td>
    </tr>
    }
}
</table>


<!-- Call userManagement with division parameter that was selected -->
<script type="text/javascript">
    $('#division').change(function () {
        var divisionSelected = $(this).val();
        var url = "/Home/Manager/userManagement" + divisionSelected;

        $.post(url, function (data) {});
    });
</script>
