@model IEnumerable<TARS.Models.TARSUser>

@{
    ViewBag.Title = "User Maintanence";
}

<h2>@ViewBag.division Employees</h2>

<!-- Allow Manager/Approver to select a different division (uses a script to submit form) -->
@using (Html.BeginForm())
{
    <div class="editor-label"><b>Select Different Division</b></div>
    <div class="editor-field"> 
        @Html.DropDownList("division", (List<SelectListItem>)ViewBag.divisionList, new { @onchange = "this.form.submit();"})     
    </div>
    <br />
}

@if (ViewBag.emailSentFlag == true)
{
    <h4>
    @if (ViewBag.emailError != null)
    {
        <html><center>Timesheet Rejected, but there was an error sending notification email to @ViewBag.messageRecipient</center></html>
    }
    else
    {
        <html><center>Timesheet Rejected:  Notification email was sent to @ViewBag.messageRecipient</center></html>
    }
    </h4>
}

<table class="timesheet">
    <tr>
        <th>
            UserName
        </th>
        <th>
            Permission
        </th>
        <th>
            Company
        </th>
        <th>
            Department
        </th>
        <th>
            TimesheetStatus
        </th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.permission)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.department)
        </td>
        <td>
            @Html.Action("getTimesheetStatus", "User", new { userName = item.userName, refDate = DateTime.Now })
        </td>
        <td>
            @Html.ActionLink("Approve/Reject Timesheet", "approveTimesheet", new { userKeyID = item.ID, tsDate = DateTime.Now })
        </td>
    </tr>
    }
}
</table>
