@model IEnumerable<TARS.Models.WorkEffort>

@{
    ViewBag.Title = "Work Effort Management";
}

<h2>Work Effort Management</h2>

@if (ViewBag.failedDelete == true)
{
    <h3>Error: Can't delete work effort that has hours billed to it.</h3>
}

@if (ViewBag.failedHide == true)
{
    <h3>Error: Can't hide a work effort before its end date.</h3>
}

<p>
@Html.ActionLink("Add Work Effort", "addWorkEffort")
</p>

<table class="timesheet">
    <tr>
        <th>
            Description
        </th>
        <th>
            PcaCode(s)
        </th>
        <th>
            WorkType(s)
        </th>
        <th>
            EarningsCode
        </th>
        <th>
            StartDate
        </th>
        <th>
            EndDate
        </th>
        <th>
            Hidden
        </th>
    </tr>

    @if (Model != null)
    {        
        int count = -1;
        foreach (var item in Model)
        {
            count++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DropDownList("pcaCode", new SelectList(ViewBag.pcaListOfLists[count], Model))
                </td>
                <td>
                    @Html.DropDownList("workTypes", new SelectList(ViewBag.workTypesListOfLists[count], Model))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.earningsCode)
                </td>
                <td>
                    @item.startDate.ToShortDateString()
                </td>
                <td>
                    @item.endDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hidden)
                </td>

                <td>
                    @Html.ActionLink("Edit", "editWorkEffort", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "deleteWorkEffort", new { id=item.ID }) |
                    @if (item.hidden == true)
                    {
                        @Html.ActionLink("Un-Hide", "unHideWorkEffort", new { id=item.ID })
                    }
                    else
                    {
                        @Html.ActionLink("Hide", "hideWorkEffort", new { id = item.ID })
                    }
                    <!-- If there are comments, provide a link to view them -->
                    @if ((item.comments != null) && (item.comments.Trim().Length > 0))
                    {
                        <html> | </html>                    
                        @Html.ActionLink("View Comments", "viewWorkEffort", "User", new { id = item.ID }, null)
                    }
                </td>
            </tr>
        }
    }
</table>
