@model TARS.Models.PCA_Code

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PCA_Code</legend>

    <div class="display-label">code</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.code)
    </div>

    <div class="display-label">startDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">endDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <div class="display-label">creator</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.creator)
    </div>

    <div class="display-label">description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">files</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.files)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
