@model TARS.Models.Hours
           

@if ((ViewBag.timesheetLockedFlag != true) || (ViewBag.adminFlag == true))
{
    using (Html.BeginForm())
    {    
        @Html.ValidationSummary(true)
        <fieldset>
            <input name="creator" type="hidden" value="@User.Identity.Name" />

            @if(ViewBag.workEffort != null) {
                <p>
                <div class="editor-label"><b>Work Effort</b></div>
                @ViewBag.workEffort
                @Html.Hidden("workEffortID", Html.Action("getWeIdFromDescription",  
                                            new { description = ViewBag.workEffort }))
                </p>              
            }
            else {
                <p>
                <div class="editor-label"><b>Choose Work Effort</b></div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.workEffortID,
                        (List<SelectListItem>)ViewBag.workEffortList, "--Select--")
                </div>
                </p>            
            }

            @if (ViewBag.timeCode != null){
                <p>
                <div class="editor-label"><b>Time Code</b></div>
                @ViewBag.timeCode
                @Html.Hidden("description", (string)ViewBag.timeCode) 
                </p> 
            }
            else{                   
                <p>
                <div class="editor-label"><b>Choose Time Code</b></div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.description, Enumerable.Empty<SelectListItem>(), "--Select--")
                </div>
                </p>    
            }

            <p>
            <div class="editor-label"><b>Hours Worked</b></div>
            <div class="editor-field">
                @Html.EditorFor(model => model.hours)
                @Html.ValidationMessageFor(model => model.hours)
            </div>
            </p>

            @if (ViewBag.date != null) {
                <div class="editor-label"><b>Date</b></div>
                @ViewBag.date.ToShortDateString()
                @Html.Hidden("timestamp", (DateTime)ViewBag.date)
            }
            else
            {          
                <p>
                <div class="editor-label"><b>Date</b></div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.timestamp)
                    @Html.ValidationMessageFor(model => model.timestamp)
                    @if (ViewBag.notWithinWeBounds == true)
                    {
                        <html>Not within the work effort's date range: 
                        <b>@Html.Action("getWeTimeBoundsString", new { id = Model.workEffortID })</b></html>
                    }
                </div>
                </p>
            }
                    
            <!-- if it's a manager adding hours for an employee -->
            @if (ViewBag.userKeyID != 0)
            {
                @Html.Hidden("userKeyID", (int)ViewBag.userKeyID)
            }

            <p>
                <input type="submit" value="Save" />
            </p>

        </fieldset>   
    }
}
else
{
    <h3>Timesheet is Locked</h3>
}


<!-- Populate Description dropdown according to Work Effort that was selected -->
<script type="text/javascript">
    $('#workEffortID').change(function () {
        var selectedWorkEffort = $(this).val();
        $.getJSON('@Url.Action("jsonTimeCodeSelectList")', { weID: selectedWorkEffort }, function (timecodes) {
            var timeCodeSelect = $('#description');
            timeCodeSelect.empty();
            $.each(timecodes, function (index, tCode) {
                timeCodeSelect.append($('<option/>', {
                    value: tCode.value,
                    text: tCode.text
                }));
            });
        });
    });
</script>