@model TARS.Models.Hours

@{
    ViewBag.Title = "addHours";
}

<h2>Add Hours</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@if ((ViewBag.timesheetLockedFlag == false) || (ViewBag.adminFlag == true))
{
    using (Html.BeginForm())
    {    
        @Html.ValidationSummary(true)
        <fieldset>

            <div class="editor-label"><b>Work Effort</b></div>
            <div class="editor-field">
                @Html.DropDownList("workEffortID", (List<SelectListItem>)ViewBag.workEffortList)
            </div>

            <p>
            <div class="editor-label"><b>Hours Worked</b></div>
            <div class="editor-field">
                @Html.EditorFor(model => model.hours)
                @Html.ValidationMessageFor(model => model.hours)
            </div>
            </p>
    
            <p>
            <div class="editor-label"><b>Description of work</b></div>
            <div class="editor-field">
                @Html.EditorFor(model => model.description)
                @Html.ValidationMessageFor(model => model.description)
            </div>
            </p>

            <p>
            <div class="editor-label"><b>Date </b>(and optional time)</div>
            <div class="editor-field">
                @Html.EditorFor(model => model.timestamp)
                @Html.ValidationMessageFor(model => model.timestamp)
            </div>
            </p>

            <input id="creator" name="creator" type="hidden" value="@User.Identity.Name" />
        
            <p>
                <input type="submit" value="Submit" />
            </p>
        </fieldset>   
    }
}
else
{
    <html><h3>Timesheet Is Locked</h3></html>
}

<div>
    @Html.ActionLink("Back to Timesheet", "viewTimesheet/")
</div>