@model TARS.Models.Hours

@{
    ViewBag.Title = "editHours";
}

<h2>Edit Timesheet Entry</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<!-- Render the partial view to populate this view -->
@Html.Partial("_editHoursPartial")

<div>
    @Html.ActionLink("Back to Timesheet", "viewTimesheet", new { tsDate = @Model.timestamp })
</div>