@model IEnumerable<TARS.Models.TimesheetRow>

@{
    ViewBag.Title = "viewTimesheet";
}

<h2>My Timesheet for @ViewBag.timesheet.periodStart.ToShortDateString() - @ViewBag.timesheet.periodEnd.ToShortDateString()</h2>
<h3>
    @if (ViewBag.timesheet.locked)
    {
        <i>(locked)</i>
    }
    else if (ViewBag.timesheet.submitted)
    {
        if (ViewBag.timesheet.approved)
        {
            <i>(approved)</i> 
        }
        else
        {
            <i>(submitted)</i> 
        }
    }
    else
    {
        <i>(not submitted)</i>
    }
</h3>

@if (this.User.Identity.Name.Trim().Length == 0)
{
    <h3><i>(Not Logged In)</i></h3>
}

<!-- User Options -->
<div id="content" style="float:left;">
    <div class="editor-label"><b>View Different Timesheet</b></div> 
    @Html.TextBox("differentTimesheet") 
    
    <!-- If the user isn't viewing their current timesheet -->
    @if ((DateTime.Now < ViewBag.timesheet.periodStart) || (DateTime.Now > ViewBag.timesheet.periodEnd))
    {
        if (ViewBag.noPreviousTimesheet != true)
        {
            <html> | </html>
        }
        @Html.ActionLink("Back to Current Timesheet", "viewTimesheet", new { tsDate = DateTime.Now }, null)
    }   
    <br /><br />


    <!-- Render the timesheet table -->
    @Html.Partial("_viewTimesheetPartial")

    <!-- More options -->

    @if (ViewBag.timesheet.locked == false)
    {
        <br /><br />
        if (ViewBag.timesheet.approved == false)
        {
            if (ViewBag.timesheet.submitted == false)
            {
                <div style="text-align:center;">
                @Html.ActionLink("SAVE ", "saveTimesheet", new { id = (int)ViewBag.timesheet.ID })
                <html> | </html>                
                @Html.ActionLink(" SUBMIT ", "submitTimesheet", new { id = (int)ViewBag.timesheet.ID })
                <html> | </html>
                @Html.ActionLink(" Copy Previous ", "copyTimesheet")
                </div>
            }
        }
    }  
    <br /><br /> 

    View my work on @Html.DropDownList("viewEffort", (List<SelectListItem>)ViewBag.workEffortList, "--- Work Effort ---", null) from @Html.TextBox("start") to @Html.TextBox("end")
    <button id="viewWorkButton">View</button>
</div>

