@model IEnumerable<TARS.Models.TimesheetRow>

@{
    ViewBag.Title = "viewTimesheet";
}

<h2>My Timesheet for @ViewBag.timesheet.periodStart.ToShortDateString() - @ViewBag.timesheet.periodEnd.ToShortDateString()</h2>
<h3>
    @if (ViewBag.timesheet.locked)
    {
        <i>(locked)</i>
    }
    else if (ViewBag.timesheet.submitted)
    {
        if (ViewBag.timesheet.approved)
        {
            <i>(approved)</i> 
        }
        else
        {
            <i>(submitted)</i> 
        }
    }
    else
    {
        <i>(not submitted)</i>
    }
</h3>

@if (this.User.Identity.Name.Trim().Length == 0)
{
    <h3><i>(Not Logged In)</i></h3>
}

<div id="content" style="float:left;">
    @if (ViewBag.timesheet.locked == false)
    {
        if (ViewBag.timesheet.approved == false)
        {
            if (ViewBag.timesheet.submitted == false)
            {
                @Html.ActionLink("Submit Timesheet", "submitTimesheet", new { id = (int)ViewBag.timesheet.ID })
                <html> | </html>
                @Html.ActionLink("Copy Previous Timesheet", "copyTimesheet")
                <html> | </html>
            }
        }
    }    
    @if (ViewBag.noPreviousTimesheet != true)
    {
        @Html.ActionLink("View Previous Timesheet", "viewTimesheet",
                            new { tsDate = (DateTime)ViewBag.timesheet.periodStart.AddDays(-1) }, null)
    }
    <!-- If the user isn't viewing their current timesheet -->
    @if ((DateTime.Now < ViewBag.timesheet.periodStart) || (DateTime.Now > ViewBag.timesheet.periodEnd))
    {
        if (ViewBag.noPreviousTimesheet != true)
        {
            <html> | </html>
        }
        @Html.ActionLink("Back to Current Timesheet", "viewTimesheet", new { tsDate = DateTime.Now }, null)
    }   
    <br /><br />

    <!-- Render the timesheet table -->
    @Html.Partial("_viewTimesheetPartial")
