@model IEnumerable<TARS.Models.Hours>

@{
    ViewBag.Title = "viewTimesheet";
}

<h2>View Timesheet
@if (ViewBag.timesheet.locked)
{
    <small><i>(locked)</i></small>
}
else if (ViewBag.timesheet.submitted)
{
    if (ViewBag.timesheet.approved)
    {
        <small><i>(approved)</i></small> 
    }
    else
    {
        <small><i>(submitted)</i></small> 
    }
}
else
{
    <small><i>(editable)</i></small>
}
</h2>


<div id="menu" style="float:right;">
    @if (ViewBag.timesheet.locked == false)
    {   
        <h4>Actions</h4>    
        if (ViewBag.timesheet.approved == false)
        {
            if (ViewBag.timesheet.submitted == true)
            {
                <p>@Html.ActionLink("Un-submit Timesheet", "unSubmitTimesheet", new { id = (int)ViewBag.timesheet.ID })</p>
            }
            else
            {
                <p>@Html.ActionLink("Copy Previous Timesheet", "copyTimesheet")</p>
                <p>@Html.ActionLink("Add New Hours", "selectDivisionToAddHours")</p> 
                <p>@Html.ActionLink("Submit Current Timesheet", "submitTimesheet", new { id = (int)ViewBag.timesheet.ID })</p>
            }
        }
    }
    
</div>


<div id="content" style="float:left;">
@if (this.User.Identity.Name.Trim().Length == 0)
{
    <h3>Hours list for <i>(Not Logged In)</i> </h3>
}
else
{
    <h3>Hours list for @this.User.Identity.Name</h3>
}

<table class="timesheet">
    <tr>
        <th>
            WorkEffort
        </th>
        <th>
            Hours
        </th>
        <th>
            HoursDescription
        </th>
        <th>
            Date
        </th>
        <th>
            Creator
        </th>
        <th></th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.Action("getWeDescription", "User", new { id = item.workEffortID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @item.timestamp.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creator)
        </td>

       @if ( (ViewBag.timesheet.submitted == false) && (ViewBag.timesheet.locked == false) )
       {
            <td>
                @Html.ActionLink("Edit", "editHours", new { id = item.ID }) |
                @Html.ActionLink("Delete", "deleteHours", new { id = item.ID })
            </td>
       }
    </tr>
    }
}
</table>


</div>