@model IEnumerable<TARS.Models.TimesheetRow>

@{
    ViewBag.Title = "viewTimesheet";
}

<h2>My Timesheet for @ViewBag.timesheet.periodStart.ToShortDateString() - @ViewBag.timesheet.periodEnd.ToShortDateString()</h2>
<h3>
    @if (ViewBag.timesheet.locked)
    {
        <i>(locked)</i>
    }
    else if (ViewBag.timesheet.submitted)
    {
        if (ViewBag.timesheet.approved)
        {
            <i>(approved)</i> 
        }
        else
        {
            <i>(submitted)</i> 
        }
    }
    else
    {
        <i>(not submitted)</i>
    }
</h3>

@if (this.User.Identity.Name.Trim().Length == 0)
{
    <h3><i>(Not Logged In)</i></h3>
}

<div id="content" style="float:left;">

    <!-- Option to change date (handled by jQuery) -->
    <div class="editor-label"><b>View Different Timesheet</b></div> 
    @Html.TextBox("differentTimesheet") 

    <!-- If the user isn't viewing their current timesheet -->
    @if ((DateTime.Now < ViewBag.timesheet.periodStart) || (DateTime.Now > ViewBag.timesheet.periodEnd))
    {
        @Html.ActionLink("Back to Current", "viewTimesheet", new { tsDate = DateTime.Now }, null)
    }   
    <br /><br />
 
    <div style="text-align:center;">
        <!-- More options -->
        @if (ViewBag.timesheet.locked == false)
        {
            if (ViewBag.timesheet.approved == false)
            {
                if (ViewBag.timesheet.submitted == false)
                {              
                    @Html.ActionLink(" SUBMIT ", "submitTimesheet", new { id = (int)ViewBag.timesheet.ID })
                    <html> | </html>
                    @Html.ActionLink(" Copy Previous ", "copyTimesheet")
                    <br /><br />
                }
            }
        } 
    </div>

    <!-- Render the timesheet table -->
    @Html.Partial("_viewTimesheetPartial")
 
 
    <br /><br />
    View my work on @Html.DropDownList("viewEffort", (List<SelectListItem>)ViewBag.workEffortList, "--- Work Effort ---", null) from @Html.TextBox("start") to @Html.TextBox("end")
    <button id="viewWorkButton">View</button>
</div>



<!-- pop-up calendars -->
<script type="text/javascript">
    $('#start, #end, #differentTimesheet').datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: 'c-10:c+20'
    });
</script>