@model TARS.Models.WorkEffort

@{
    ViewBag.Title = "viewWorkEffort";
}

<h2>Work Effort Details</h2>

<fieldset>
    <legend>WorkEffort</legend>

    <div class="display-label"><b>Description</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label"><b>PcaCode</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pcaCode)
    </div>

    <div class="display-label"><b>EarningsCode</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.earningsCode)
    </div>

    <div class="display-label"><b>StartDate</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label"><b>EndDate</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <div class="display-label"><b>Comments</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.comments)
    </div>

</fieldset>
<p>
    <!-- if the user is has manager privileges, let them edit the work effort -->
    @if (ViewBag.managerFlag == true)
    {  
        @Html.ActionLink("Edit", "editWorkEffort/", "Manager", new { id = Model.ID }, null)
        <html> | </html>
    }
    @Html.ActionLink("Back to List", "searchWorkEffort/")
</p>
