@model IEnumerable<TARS.Models.Hours>

@{
    ViewBag.Title = "viewHours";
}

<h2>viewHours</h2>

<table>
    <tr>
        <th>
            we
        </th>
        <th>
            task
        </th>
        <th>
            hours
        </th>
        <th>
            hoursType
        </th>
        <th>
            approved
        </th>
        <th>
            timestamp
        </th>
        <th>
            description
        </th>
        <th>
            creator
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.we)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.task)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hoursType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creator)
        </td>
    </tr>
}
</table>