@model TARS.Models.PcaCode

@{
    ViewBag.Title = "confirmEditPCA";
}

<h2>Confirm Edit PCA</h2>

<h3>Are you sure you want to make these changes?</h3>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PcaCode</legend>
        @Html.HiddenFor(model => model.ID)

        <div class="editor-label"><b>PCA Code</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.code)
            @Html.ValidationMessageFor(model => model.code)
        </div>

        <p>
        <div class="editor-label"><b>Description</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>
        </p>

        <p>
        <div class="editor-label"><b>Department</b></div>
        <div class="editor-field">
            @Html.DropDownList("division", new SelectList(ViewBag.divisionList, Model))
        </div>
        </p>

        <p>
        <div class="editor-label"><b>Start Date</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.startDate)
            @Html.ValidationMessageFor(model => model.startDate)
        </div>
        </p>

        <p>
        <div class="editor-label"><b>End Date</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.endDate)
            @Html.ValidationMessageFor(model => model.endDate)
        </div>
        </p>

        <p>
        <input type="submit" value="Confirm" /> | 
        @Html.ActionLink("Back to List", "maintainPCA/")
        </p>

    </fieldset>
}

