@model TARS.Models.PcaCode

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PcaCode</legend>

    <div class="display-label">PcaCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.code)
    </div>

    <div class="display-label">StartDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">EndDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">Division</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.division)
    </div>

</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> | 
        @Html.ActionLink("Back to List", "maintainPCA/")
    </p>
}
