@model TARS.Models.PCA_WE

@{
    ViewBag.Title = "deletePCA_WE";
}

<h2>Remove PCA Code From Work Effort</h2>

@if (ViewBag.lastPcaFlag == true)
{
    <h4>Can't Remove:  Work Effort Must Have at Least One PCA Code!</h4>
}

@using (Html.BeginForm())
{    
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.WE)
        @Html.HiddenFor(model => model.associationStartDate)
        @Html.Hidden("associationEndDate", DateTime.Now)
        @Html.Hidden("active", false)

        <b>Work Effort: </b>@ViewBag.workEffortDescription

        <p>
        <div class="editor-label"><b>Choose a PCA to Un-Associate</b></div>
        <div class="editor-field">
            @Html.DropDownList("PCA", new SelectList(ViewBag.pcaList, Model))
        </div>
        </p>

        <p>
            <input type="submit" value="Submit" />
        </p>
    </fieldset>   
}

<p>
@Html.ActionLink("Back to Edit", "editWorkEffort", "Manager", new { id = (int)ViewBag.workEffortId }, null)  |
@Html.ActionLink("Back to Work Efforts", "weManagement", "Manager") 
</p>