@model TARS.Models.PcaCode

@{
    ViewBag.Title = "Delete";
}

<h2>Delete PCA</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>

    <div class="display-label"><b>PcaCode</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.code)
    </div>

    <p>
    <div class="display-label"><b>StartDate</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>
    </p>

    <p>
    <div class="display-label"><b>EndDate</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>
    </p>

    <p>
    <div class="display-label"><b>Description</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>
    </p>

    <p>
    <div class="display-label"><b>Division</b></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.division)
    </div>
    </p>

</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> | 
        @Html.ActionLink("Back to List", "maintainPCA/")
    </p>
}
