@model IEnumerable<TARS.Models.PcaCode>

@{
    ViewBag.Title = "PCA Maintanence";
}

<h2>Active PCA Codes</h2>

@if (ViewBag.failedPcaDelete == true)
{
    <h3>Error: Can't delete a PCA if Work Efforts are attached.</h3>
}

<p>@Html.ActionLink("Add PCA", "addPCA")</p>

<table class="timesheet">
    <tr>
        <th class="pca">
            PcaCode
        </th>
        <th class="pca">
            Description
        </th>
        <th class="pca">
            Division
        </th>
        <th class="pca">
            StartDate
        </th>
        <th class="pca">
            EndDate
        </th>
        <th class="options">
        </th>
    </tr>

  @foreach (var item in Model)
  {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td class="description">
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td class="description">
            @Html.DisplayFor(modelItem => item.division)
        </td>
        <td>
            @item.startDate.ToShortDateString()
            @Html.HiddenFor(modelItem => item.startDate)
        </td>
        <td>
            @item.endDate.ToShortDateString()
            @Html.HiddenFor(modelItem => item.endDate)
        </td>

        <td class="options">
            @Html.ActionLink("Edit", "editPCA", new { id=item.ID }) |
            @Html.ActionLink("Delete", "deletePCA", new { id=item.ID })
        </td>
    </tr>
  }
</table>
