@model IEnumerable<TARS.Models.PcaCode>

@{
    ViewBag.Title = "PCA Maintanence";
}

<h2>Active PCA Codes</h2>

<table class="timesheet">
    <tr>
        <th>
            PcaCode
        </th>
        <th>
            Description
        </th>
        <th>
            Division
        </th>
        <th>
            StartDate
        </th>
        <th>
            EndDate
        </th>
        <th></th>
    </tr>

  @foreach (var item in Model)
  {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.division)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>

        <td>
            @Html.ActionLink("Edit", "editPCA", new { id=item.ID }) |
            @Html.ActionLink("Delete", "deletePCA", new { id=item.ID })
        </td>
    </tr>
  }
</table>

<p>@Html.ActionLink("Add PCA", "addPCA")</p>