@{
    ViewBag.Title = "TARS Home Page";
}

<h2>@ViewBag.Message</h2><br />
<!--@ViewBag.ldap-->
<br />
<br />
<br />
<p>
    
</p>
<p>
    @Html.ActionLink("Temporary Link to the User controller", "Index", "User")
</p>
<p>
    @Html.ActionLink("Temporary Link to the Manager controller", "Index", "Manager")
</p>
<p>
    @Html.ActionLink("Temporary Link to the Admin controller", "Index", "Admin")
</p>
<p>
    @Html.ActionLink("Temporary Link to the Test controller", "Index", "Test")
</p>